[submodule "moodle-tool_lala"]
	path = moodle-tool_lala
	url = https://github.com/LiFaytheGoblin/moodle-tool_lala.git
	
[submodule "moodle"]
	path = moodle
	url = https://github.com/moodle/moodle.git
[submodule "smartlibrary"]
	path = smartlibrary
	url = https://github.com/IMI-Moodle-Projekt/smartlibrary.git
